* {
  box-sizing: border-box;
}

:root {
  --background: #141515;
  --dark-background: #0f1011;
  --light-background: #292a2b;
  --foreground: #d6d7d9;
}

a {
  color: #5592d9;
  text-decoration-color: #508dd978;
}

is(textarea, pre, code, .primitives tr td:first-child) {
    color: #969698;
    background-color: #0c0d0e;
}
:is(textarea, pre, .primitives tr td:first-child) {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 0rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 1rem;
}
.operator-page {
  padding: 0rem 2rem;
}

/******************
 * Groups and Cards
 ***/
.card-group .wrapper {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 10rem);
}

.bqn-card {
  /* Remove link styles */
  color: var(--foreground);
  text-decoration: none;

  width: 10rem;
  background: red;
}

.bqn-card .symb {
  display: block;
  font-size: 8rem;
  width: 100%;
  margin: 0px;

  text-align: center;
  background: var(--dark-background);
}

.bqn-card .names {
  height: 2rem;
  line-height: 2rem;
  vertical-align: center;
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;

  background-color: var(--light-background);
  ;; TODO: Use a cool font
  color: color-mix(in lch, var(--light-background), 90% var(--foreground))
}
